*{
    padding: 0;
    margin: 0;
   
   

}
body{
     background-image: url('6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-shadow:1px 3px rgb(185, 181, 181);
}
.container{
    display:block;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    flex-direction: row;
    margin-left: 40%;
    margin-top: 10%;
    background:transparent;
    border-radius: 2px;
    box-shadow: 2px 3px 3px rgb(37, 36, 37) ;

}
button{
    background-color: rgb(10, 94, 219);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 2px rgb(189, 28, 55);
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}
button:hover{
    background-color:white ;
   
}